<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta http-equiv="cleartype" content="on" />
  <title>10up Blog</title>

  <link rel="icon" href="{{ webpack_asset('favicon.png') }}" />
  <link rel="stylesheet" href="{{ webpack_asset('main.css') }}" />
</head>
<body>
<div id="root">
  <header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <h1 class="site-title" itemscope itemtype="http://schema.org/Organization">
      10up Blog
    </h1>

    <nav class="site-navigation" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
      <a href="#menu-main-nav" id="js-menu-toggle" class="site-menu-toggle">
        <span class="screen-reader-text">Primary Menu</span>
        <span aria-hidden="true">☰</span>
      </a>

      <ul id="menu-main-nav" class="primary-menu">
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1912">
          <a href="/">Home</a>
        </li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1915">
          <a href="/pages/about-us">About</a>
        </li>

        <li class="logged-out menu-item menu-item-type-custom menu-item-object-custom menu-item-1915">
          <a href="/login">Login</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
  {% if isProduction %}
    <script src="{{ webpack_asset('runtime.js') }}"></script>
  {% endif %}
  <script src="{{ webpack_asset('main.js') }}"></script>
</body>
</html>
