@import '../../exercise-files/provided/css/layout.css';
@import '../../exercise-files/provided/css/header.css';
@import '../../exercise-files/provided/css/login.css';
@import '../../exercise-files/provided/css/post.css';

.login .error {
  color: #ff0000;
}

.primary-menu .menu-item button {
  display: block;
  padding: 10px 15px;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  font-family: Times, serif;
}
